header {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../img/hdr-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

header h1 {
  max-width: 708px;
  color: #282828;
  font-family: Exo;
  font-size: 3.75rem;
  font-weight: 100;
}

header .header_button-1 {
  margin: 3%  0;
  width: 59px;
  height: 59px;
  background-image: url("../img/hdr-pl-vd-icn.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  transition: linear .5s;
}

header .header_button-1:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

header .header_button-2 {
  padding: 15px 50px;
  max-width: 200px;
  border-radius: 3px;
  background-color: #ff6d6d;
  color: #ffffff;
  font-family: Exo;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: linear .5s;
}

header .header_button-2:hover {
  background-color: #f0c85e;
}

@media screen and (max-width: 690px) {
  header h1 {
    font-size: 2rem;
  }
}
