.section-4 {
  position: relative;
  padding: 5% 0;
  background-color: #000;
  opacity: 0.9;
  overflow: hidden;
}

.section-4:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../img/s4-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.section-4 .s4-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.section-4 .s4-items .s4-item .s4-img {
  margin: 7% auto;
  width: 80px;
  height: 80px;
  border: 2px solid #1d1e24;
  background-color: #4e4e5e;
}

.section-4 .s4-items .s4-item h3 {
  color: #ffffff;
  font-family: Exo;
  font-size: 1.375rem;
  font-weight: 500;
}

.section-4 .s4-items .s4-item .p-red-c {
  color: #ff6d6d;
  font-family: Exo;
  font-size: 1rem;
  font-weight: 500;
  line-height: 50px;
}

.section-4 .s4-items .s4-item p {
  max-width: 325px;
  opacity: 0.66;
  color: #ffffff;
  font-family: Exo;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  line-height: 26px;
}

.section-4 .s4-items-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10% 0 0 0;
}
